Binaries
DerivedDataCache
Intermediate
Saved
Content/Pack_Bonus/.*
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Content/OldFurniturePack_01
/Content/RealMaterials
/Content/Pack_Bonus
